**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - Data Checkpoint

# Names

- Giselle Carames
- Elif Yildiz
- Emily Chang
- Ravi Shende
- Aisha Wolff

# Research Question

How does healthcare quality in terms of preventable deaths, average hospital stay, ICU beds & use, and life expectancies correlate with healthcare expenditure per capita by each OECD country with public healthcare systems from 2000-2019?

## Background and Prior Work

Healthcare spending is a heavily debated topic in politics, but can we learn from the outcomes of countries' different healthcare policies around the world? We aim to research the correlation between healthcare expenditure per capita and quality of received care among developed countries with public healthcare systems. Here, we define quality of care as a collection of the proportion of preventable deaths, surgery wait times, life expectancies, and healthcare satisfaction rates. The amount of financial resources allocated to healthcare in various individual countries have been found to impact the overall quality of the healthcare provided. How healthcare outcomes correlate with the amount of healthcare expenditure has gotten mixed results, although many results find a positive correlation, especially in OECD countries1.

The previous works differ in the exact results because of different metrics used. However, even though there may be a mild positive correlation between healthcare expenditure and overall satisfaction in most, a lot of results also indicate that there is no clear positive or negative correlation between healthcare expenditure and quality of care received2 -- especially when the spending is not efficiently utilized,3. The study published by The Annals of Internal Medicine is a synthesis of several prior studies to determine if there is an association between healthcare cost and quality in the United States2. It observes studies over the years of 1990-2012, concluding that the association was relatively clinically insignificant. This is one of the reasons why we decided to focus solely on countries with public healthcare systems, as government spending has a larger direct impact on the healthcare system as a whole.

1. ^ Anwar, Asim, et al. (22 Mar. 2023) Government Health Expenditures and Health Outcome Nexus: A Study on OECD Countries. Frontiers, Frontiers. www.frontiersin.org/journals/public-health/articles/10.3389/fpubh.2023.1123759/full.
2. ^ Hussey, Peter S, et al. (1 Jan. 2013) The Association Between Health Care Quality and Cost: A Systematic Review ACP Journals. Annals of Internal Medicine. www.acpjournals.org/doi/10.7326/0003-4819-158-1-201301010-00006?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%20%200pubmed.
3. ^ Fowler, Floyd J, et al. (28 May 2008) Relationship between Regional per Capita Medicare Expenditures and Patient Perceptions of Quality of Care. JAMA, JAMA Network. www.jamanetwork.com/journals/jama/fullarticle/181980.

# Hypothesis

Increased healthcare expenditure per capita is positively correlated with lower preventable deaths, shorter surgery wait times, and higher life expectancies across countries.

**Explanation:**

In our background analysis, we found that several previously conducted studies indicated that greater healthcare expenditure correlates to increased healthcare quality. As such, we expect similarly positive results since our definition of healthcare quality includes variables similar to those analyzed across previous studies. We believe this is further increased by the fact that we have carefully narrowed our scope to OECD countries with public healthcare.

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name: Current health expenditure per capita (current US$)
  - Link to the dataset: https://data.worldbank.org/indicator/SH.XPD.CHEX.PC.CD
  - Number of observations: 5320 (271 before data wrangling)
  - Number of variables: 4 (69 before data wrangling)
- Dataset #2
  - Dataset Name: Life expectancy at birth, total (years) - World
  - Link to the dataset: https://data.worldbank.org/indicator/SP.DYN.LE00.IN?locations=1W
  - Number of observations: 5320 (271 before data wrangling)
  - Number of variables: 4 (69 before data wrangling)
- Dataset #3
  - Dataset Name: Avoidable Mortality
  - Link to the dataset: https://data-explorer.oecd.org/vis?fs[0]=T%2Co&pg=20&fc=Topic&snb=80&vw=ov&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_HEALTH_STAT%2540DF_AM&df[ag]=OECD.ELS.HD&df[vs]=1.0&dq=.A...._T.......&pd=2%2C0%2C1%2C0%2C%25%2C2%2CC&to[TIME_PERIOD]=false 
  - Number of observations: 13770
  - Number of variables: 4
- Dataset #4
  - Dataset Name: Hospital average length of stay by diagnostic categories
  - Link to the dataset: https://data-explorer.oecd.org/vis?lc=en&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_HEALTH_PROC%2540DF_HOSP_AV_LENGTH&df[ag]=OECD.ELS.HD&dq=.....DICDA100............&pd=%25%2C2%2CC&to[TIME_PERIOD]=false&vw=ov 
  - Number of observations: 84558
  - Number of variables: 4
- Dataset #5
  - Dataset Name: ICU beds and use by country
  - Link to the dataset: https://data-explorer.oecd.org/vis?df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_HEALTH_REAC_HOSP%40DF_BEDS_ICU&df[ag]=OECD.ELS.HD&df[vs]=1.0&dq=.HBU_ICU_A.10P5HB%2BBD%2BPT_BD_AV_ICU.MEAN%2B_Z.....&pd=%2C&to[TIME_PERIOD]=false
  - Number of observations: 767
  - Number of variables: 4
- Dataset #6
  - Dataset Name: Health expenditure and financing
  - Link to the dataset: https://data-explorer.oecd.org/vis?df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_SHA%40DF_SHA&df[ag]=OECD.ELS.HD&df[vs]=1.0&dq=.A.EXP_HEALTH.PT_B1GQ._T.._T.._T..._Z&pd=2000%2C2009&to[TIME_PERIOD]=false&vw=tb
  - Number of observations: 984
  - Number of variables: 4
- Dataset #7
  - Dataset Name: Medical technology availability
  - Link to the dataset: https://data-explorer.oecd.org/vis?lc=en&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_HEALTH_REAC_HOSP%40DF_MED_TECH&df[ag]=OECD.ELS.HD&dq=..10P6HB......_T&pd=%2C&to[TIME_PERIOD]=false&vw=tb
  - Number of observations: 16492
  - Number of variables: 4
- Dataset #8
  - Dataset Name: Gross fixed capital formation in the healthcare system
  - Link to the dataset: https://data-explorer.oecd.org/vis?fs[0]=Topic%2C0%7CHealth%23HEA%23&fs[1]=Topic%2C1%7CHealth%23HEA%23%7CHealth%20expenditure%20and%20financing%23HEA_EXP%23&pg=0&fc=Topic&snb=4&vw=ov&df[ds]=dsDisseminateFinalDMZ&df[id]=DSD_SHA%40DF_SHA_HK&df[ag]=OECD.ELS.HD&df[vs]=1.0&dq=.A.CAPITAL_FORM.PT_B1GQ....._T.._T.&pd=2009%2C&to[TIME_PERIOD]=false
  - Number of observations: 9183
  - Number of variables: 4

Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

Each dataset has at least 4 variables: 
  1. country
  2. code (aka country code - for use when merging later)
  3. year (spanning 2000-2019)
  4. some variable

Dataset #1 is a dataset from the World Bank database that includes Healthcare expenditure per capita by country from 1960 to now including 271 countries. The dataset originally had years as its columns and had unnecessary columns such as "Indicator Name" which only had one value (healthcare expenditure per capita). We only limited the dataset to include only data from 2000 to 2019 like we did in all the other datasets and specifically for the World Bank data we needed to use the "melt" function from pandas so the years would appear as observations instead of variables.

Dataset #2 is a dataset from the World Bank database as well and it includes Life Expectancy at birth (in years) by country from 1960 to now including 271 countries like our first data. We used mostly the same process as we did in the first dataset to clean this data (using melt function, dropping unnecessary columns, etc.) because the two datasets are very similar. The only difference between the two was that the value for #2 was life expectancy instead of healthcare expenditure per capita.

Dataset #3 displays data from OECD Data Explorer and shows avoidable mortality by country stored as floats. The dataset has avoidable mortality as defined by deaths that could have been avoided given proper measures and healthcare access. This dataset needed cleaning to only include the dates we are analyzing (2000-2019).

Dataset #4 shows data from OECD Data Explorer and shows the average length of stay by diagnostic categories. The average length of stay is calculated in this dataset by dividing the number of "bed-days" by number of discharges in the given year. This dataset needed to be cleaned to include our dates of interest (2000-2019) and drop excess columns to see the length of stay.

Dataset #5 is a dataset from OECD Data Explorer and shows the average number of available ICU beds from different countries as well as the average occupancy rate, which is calculated as the number of ICU beds effectively occupied (bed-days) for intensive care divided by the number of ICU beds available (at any one time) multiplied by 365 days, with the ratio multiplied by 100. This dataset needed to be cleaned to only include data from our time range (2000-2019) and drop excess columns and 0 values.

Dataset #6 is a dataset from OECD Data Explorer that contains the metric of the ratio of the gdp that each country spends on its healthcare. This is a float between between 0 and 100 (although no country has near 100). We limited the data from 2000-2019, and used the same tidy() function we wrote that was used in datasests 3 and onward (for all the OECD Data Explorer datasets). This function drops unnecessary columns, renames them to lowercase with no spaces, sorts the dataframe by country then year, and saves in two steps: one as an informational dataframe (with text-based columns), and one with only country, country code, year, and numerical columns. 

Dataset #7 is a dataset from OECD Data Explorer that contains the availability of different medical technologies in each country per 1,000,000 inhabitants. These technologies are the following (from OECD Data Explorer): "computed tomography scanners, magnetic resonance imaging units, positron emission tomography (PET) scanners, gamma cameras, mammographs, and radiation therapy equipment". The datatype of this value column is a float, and it is greater than or equal to 0. These values are a proxy for how well equipped a medical system is in relation to its population size.

Dataset #8 is a dataset from OECD Data Explorer and shows the gross fixed capital formation in the healtchare system of each country, measured by the "total value of the fixed assets that health providers have acquired during the accounting period" that are used for longer than one year for healthcare services (OECD Data Explorer). The datatype of this is floats, and the values are greater than or equal to 0. In essence, it is similar to dataset #7 in that it measures the physical resources countries have at their disposal in the healthcare. 


If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

We will combine all of our datasets by country and year, specifically on the "code" column, which holds the three letter country code, rather than the "country" column which holds the name of the country. this way, we do not have to deal with any merge problems if countries are named slightly differently (e.g. 'United States' vs 'United States of America'). Every dataset is set up to have a year and country code column, where each country is represented from the years 2000-2019, so this won't be an issue. After this, we will drop down to only the OECD countries and fix any naming inconsistencies, then examine if there are any gaps in columns certain rows (which represent a country, year combination), and decide what to do in those cases, potentially dropping the row. We have not yet dropped NA values in data rows, as we will decide what to do about it once everything is merged into one dataset.

## Healthcare Expenditure per Capita by Country

In [1]:
import pandas as pd
health_exp = pd.read_csv("cleaned_datasets/healthcare_expenditure_worldbank.csv")
health_exp

       country code  year  expenditure_per_capita
0        Aruba  ABW  2000                     NaN
1        Aruba  ABW  2001                     NaN
2        Aruba  ABW  2002                     NaN
3        Aruba  ABW  2003                     NaN
4        Aruba  ABW  2004                     NaN
...        ...  ...   ...                     ...
5315  Zimbabwe  ZWE  2015              105.098030
5316  Zimbabwe  ZWE  2016              106.189697
5317  Zimbabwe  ZWE  2017               92.254288
5318  Zimbabwe  ZWE  2018              114.632950
5319  Zimbabwe  ZWE  2019               54.808506

[5320 rows x 4 columns]

## Life Expectancy by Country

In [2]:
#load the data
life_expec = pd.read_csv("cleaned_datasets/life_expectancy.csv")
life_expec

       country code  year  life_expectancy
0        Aruba  ABW  2000           73.569
1        Aruba  ABW  2001           73.647
2        Aruba  ABW  2002           73.726
3        Aruba  ABW  2003           73.752
4        Aruba  ABW  2004           73.576
...        ...  ...   ...              ...
5315  Zimbabwe  ZWE  2015           59.591
5316  Zimbabwe  ZWE  2016           60.306
5317  Zimbabwe  ZWE  2017           60.709
5318  Zimbabwe  ZWE  2018           61.414
5319  Zimbabwe  ZWE  2019           61.292

[5320 rows x 4 columns]

## Avoidable Mortality Rates by Country

In [3]:
#load the data
av_mortality = pd.read_csv("cleaned_datasets/avoidable_mortality.csv")

av_mortality

      code       country  year  avoidable_deaths
0      ARG     Argentina  2000             135.9
1      ARG     Argentina  2000             473.9
2      ARG     Argentina  2000           45802.0
3      ARG     Argentina  2000           97487.0
4      ARG     Argentina  2000              91.3
...    ...           ...   ...               ...
15187  ZAF  South Africa  2018           50267.5
15188  ZAF  South Africa  2018             582.9
15189  ZAF  South Africa  2018             221.6
15190  ZAF  South Africa  2018          238073.0
15191  ZAF  South Africa  2018           98071.5

[15192 rows x 4 columns]

## Average Hospital Stay by Country

In [4]:
#load the data
len_stay = pd.read_csv("cleaned_datasets/hospital_stay_length.csv")

len_stay

      code        country  year  hospital_stay_length
0      AUS      Australia  2000                   5.2
1      AUS      Australia  2000                   7.9
2      AUS      Australia  2000                   4.2
3      AUS      Australia  2000                   4.6
4      AUS      Australia  2000                   6.1
...    ...            ...   ...                   ...
93189  USA  United States  2010                   4.3
93190  USA  United States  2010                   4.7
93191  USA  United States  2010                   4.9
93192  USA  United States  2010                   4.3
93193  USA  United States  2010                   5.3

[93194 rows x 4 columns]

# ICU Beds and Use by Country

In [5]:
icu_beds = pd.read_csv("cleaned_datasets/icu_beds_and_use.csv")
icu_beds

     code        country  year  available_adult_icu_beds
0     AUS      Australia  2015                      0.00
1     AUS      Australia  2015                      4.00
2     AUS      Australia  2015                   1656.00
3     AUS      Australia  2015                   2227.00
4     AUS      Australia  2015                    401.00
...   ...            ...   ...                       ...
1033  USA  United States  2019                      1.57
1034  USA  United States  2019                     20.92
1035  USA  United States  2019                      6.92
1036  USA  United States  2019                     29.42
1037  USA  United States  2019                      4.82

[1038 rows x 4 columns]

# Health Expenditure and Financing

In [6]:
expenditure_p_gdp = pd.read_csv("cleaned_datasets/filtered_health_expenditure_as_percent_gdp.csv")
expenditure_p_gdp

    code       country  year  health_expenditure_as_percent_gdp
0    ARG     Argentina  2000                              8.220
1    ARG     Argentina  2001                              8.372
2    ARG     Argentina  2002                              7.393
3    ARG     Argentina  2003                              6.895
4    ARG     Argentina  2004                              7.229
..   ...           ...   ...                                ...
979  ZAF  South Africa  2015                              8.053
980  ZAF  South Africa  2016                              8.080
981  ZAF  South Africa  2017                              7.977
982  ZAF  South Africa  2018                              8.077
983  ZAF  South Africa  2019                              8.230

[984 rows x 4 columns]

# Medical Technological Availability

In [7]:
med_tech = pd.read_csv("cleaned_datasets/medical_tech_availability.csv")
med_tech

      code        country  year  med_tech_availability_p_mil_ppl
0      AUS      Australia  2000                            99.00
1      AUS      Australia  2000                            67.00
2      AUS      Australia  2000                           500.00
3      AUS      Australia  2000                             5.20
4      AUS      Australia  2000                            26.28
...    ...            ...   ...                              ...
16487  USA  United States  2019                            16.54
16488  USA  United States  2019                            63.81
16489  USA  United States  2019                            48.76
16490  USA  United States  2019                            22.36
16491  USA  United States  2019                            18.08

[16492 rows x 4 columns]

# Gross fixed capital formation in the healthcare system

In [8]:
set_healthcare_capita_outcomes = pd.read_csv("cleaned_datasets/unfiltered_set_healthcare_capita_outcomes.csv")
set_healthcare_capita_outcomes

     code        country  year  set_healtchare_capita_outcomes
0     AUS      Australia  2000                         452.467
1     AUS      Australia  2000                           0.401
2     AUS      Australia  2000                           0.465
3     AUS      Australia  2000                         100.000
4     AUS      Australia  2000                        2838.097
...   ...            ...   ...                             ...
9178  USA  United States  2019                           0.639
9179  USA  United States  2019                       73172.803
9180  USA  United States  2019                       64301.198
9181  USA  United States  2019                          46.773
9182  USA  United States  2019                          53.227

[9183 rows x 4 columns]

In [14]:
# Here is the code used to tidy and analyze all of the dataframes:

# *****************************************************
#                      tidy.py
# *****************************************************
"""
Tidying: import the tidy function from this file. Do not put dataset code in here.

Steps:
 - drop any years that aren't in the range 2000 to 2019
 - make sure all column names are lowercase and words are separated by underscores rather than spaces
 - Make dataframe have 1 index column (0-n), 1 countries column, 1 years column, 1+ variable column(s)
 - Each country in the country column will appear several times, same with each year in the year column. This is because for each country, we need one row per year.
    - therefore if there are c countries and y years, there will be c*y rows, where each country will be repeated y times and each year will be repeated c times
    
 - Ex:  (although year would be from 2000-2019 instead of 2008-2019)
    Country | Year | some_variable
    ------------------------------
    Albania | 2008 | 23.4
    Albania | 2009 | 26.2
    Andorra | 2008 | 11.1
    Andorra | 2009 | 10.3
"""
import pandas as pd


def drop_cols_with_proportion_na(df: pd.DataFrame, proportion: float = 0.9) -> pd.DataFrame:
    """
    Drop any columns in the dataframe that are some proportion or more of NA values
    Parameters:
        df - dataframe to drop columns from
        proportion - minimum proportion (between 0 and 1) of NA values in a column for that column to be dropped
    Returns:
        updated DataFrame
    """
    drop_cols = []
    # collect all columns that have >= proportion NA values
    for col in df.columns:
        proportion_na = df[col].isna().mean()
        if not isinstance(proportion_na, float):
            raise ValueError(f"after renaming columns, col '{col}' appears more than once in the dataframe. Please add one of them to the drop_columns when calling tidy().")
        if proportion_na >= proportion:
            drop_cols.append(col)
    # drop columns
    df = df.drop(columns=drop_cols)
    return df


def tidy_informational(df: pd.DataFrame, og_country_column: str = "Reference area", 
                       og_country_code_column: str = "REF_AREA", 
                       og_year_column: str = "TIME_PERIOD",
                       drop_columns:list[str]=None) -> pd.DataFrame:

    # drop unneeded columns
    if drop_columns is None:
        drop_columns = ["STRUCTURE", "STRUCTURE_ID", "STRUCTURE_NAME", "ACTION", "FREQ", "MEASURE",
                        "UNIT_MEASURE", "FINANCING_SCHEME", "FINANCING_SCHEME_REV", "FUNCTION",
                        "MODE_PROVISION", "PROVIDER", "FACTOR_PROVISION", "ASSET_TYPE",
                        "PRICE_BASE", "Time period", "Observation value", "Base period",
                        "CURRENCY", "UNIT_MULT", "DECIMALS", "Decimals"]
    df = df.drop(columns=drop_columns)
    # rename unclear columns
    rename_dict = {og_year_column: "year",
                   og_country_column: "country",
                   og_country_code_column: "code"}
    df = df.rename(columns=rename_dict)

    # drop all rows not in desried time frame
    max_year = 2019
    min_year = 2000
    df = df[(df["year"] <= max_year) & (df["year"] >= min_year)]

    # rename columns to be lowercase and replace spaces with underscores
    all_columns = list(df.columns)
    lower_columns = []
    for column in all_columns:
        lower_columns.append(column.lower().replace(" ", "_"))
    rename_dict = dict(zip(all_columns, lower_columns))
    df = df.rename(columns=rename_dict)

    # drop columns with at least 90% NA values
    df = drop_cols_with_proportion_na(df, 0.9)

    # drop columns that have the not applicable in them
    not_app_columns = df.columns[(df == "Not applicable").all()]
    df = df.drop(columns=not_app_columns)

    # drop columns that have the not application in them
    not_application_columns = df.columns[(df == "Not application").all()]
    df = df.drop(columns=not_application_columns)

    # checking that function successfully changed column names
    assert "country" in df.columns, "no country column found, orginal dataframe columns named differently than expected"
    assert "year" in df.columns, "no year column found, orginal dataframe columns named differently than expected"

    return df


def tidy_numerical(df):
    keep_columns = ["country", "year", "code"]
    numerical_columns = df.select_dtypes(include=["int64", "float64"]).columns
    for column in numerical_columns:
        if column not in keep_columns:
            keep_columns.append(column)
    drop_columns = [col for col in df.columns if col not in keep_columns]
    df = df.drop(columns=drop_columns)
    return df

def sort_by_country_and_year(df:pd.DataFrame) -> pd.DataFrame:
    return df.sort_values(['code', 'year'], ascending=[True, True])

def tidy(
        df: pd.DataFrame, df_title: str, new_data_cols_map: dict[str],
        og_country_column: str = "Reference area", og_year_column: str = "TIME_PERIOD",
        drop_columns: list[str] = None, og_country_code_column:str ="REF_AREA",) -> pd.DataFrame:
    """
    Tidy a dataframe in 2 steps, saving along the way:
        1. get it to an informational state and save in informational_datasets: 
            - drop useless columns
            - rename remaining columns
        2. get it to a tidy state and save in cleaned_datasets:
            - just containing an index, country, year, and data column(s)

    Parameters:
        - df: original dataframe
        - df_title: name of the dataframe - what the df represents (for saving in different files)
            - ex: "healthcare_expenditure_per_capita"
        - new_data_cols_map: dict mapping old name to new for the data column(s) in the df 
            - ex: {"OBSERVED VALUE":"healthcare_expenditure_per_capita"}
        - og_country_column: name of the column in the dataframe that contains the countries
        - og_year_name: name of the column in the dataframe that contains the years
        - drop_columns: a list of unneccessary columns that should be dropped
            - should not contain columns that would be put in the informational_dataset

    Returns:
        An updated, tidied dataframe

    Side Effects:
        Saves dfs to informational_datasets and cleaned_datasets
    """
    df_title = df_title.replace(" ", '_').lower()
    new_data_cols_map = {key: value.replace(" ", "_").lower()
                         for key, value in new_data_cols_map.items()}
    # rename important columns
    df = df.rename(columns=new_data_cols_map)
    df = tidy_informational(df,
                            og_country_column=og_country_column, 
                            og_year_column=og_year_column,
                            og_country_code_column=og_country_code_column, 
                            drop_columns=drop_columns)
    df.to_csv(f'informational_datasets/{df_title}.csv', index=False)
    df = tidy_numerical(df)
    df = sort_by_country_and_year(df)
    df.to_csv(f'cleaned_datasets/{df_title}.csv', index=False)
    df = df.reset_index(drop=True)
    return df


# *****************************************************
#                     analyze.py
# *****************************************************
import pandas as pd


def _print_title(title):
    """ Print the given title with a border around it
    """
    num_chars = 50
    print("\n", "="*num_chars, title, "="*num_chars, "", sep="\n")


def analyze(df: pd.DataFrame, df_title: str, cols_to_skip: list[str] = ["country", "code", "year"]):
    """
    Parameters:
        df - cleaned, tidy dataframe to analyze (columns should be variables, not individual years)
        df_title - what the dataframe represents (e.g. "Healthcare Expenditure Per Capita By Country")
        cols_to_skip (optional) - list of columns you don't want to analyze (e.g. ["country", "year"])
            - default is ["country", "year"]
            - If you want to analyze all columns (not recommended), set cols_to_skip=[]
    Returns:
        None, but prints information about the dataframe
    """
    _print_title(df_title)

    print("Dataframe description:")
    print(df.describe(), "\n")

    print("\nColumn Values Breakdown:")
    # Create a list of columns to analyze
    cols_to_analyze = [col for col in df.columns if col not in cols_to_skip]
    # Give value counts for each column
    for col in cols_to_analyze:
        print(f"Column {col}:")
        print(df[col].value_counts(), "\n")

    # analyze correlation between variable columns if more than one variable to analyze
    if len(cols_to_analyze) > 1:
        print("\nCorrelation Between Columns:")
        print(df[cols_to_analyze].corr(), "\n")


# *****************************************************
#                 preprocess_data.py
# *****************************************************
"""
This file is for cleaning, tidying, and analyzing the data. Here is where datasets
will be imported from original_datasets, then fixed up and saved into cleaned_datasets.
Here is where everyone will be writing code for their individual datasets.
"""

import pandas as pd
from analysis import analyze
from tidy import tidy


# ==================================================================================
# CALLING FUNCTIONS - comment out functions inside run() that you don't want to run
# ==================================================================================

def run():
    medical_tech_availability()
    healthcare_expenditure_worldbank()
    life_expectancy_worldbank()
    ICU_beds()
    health_expenditure_as_percent_of_gdb()
    set_healthcare_capita_outcomes()
    avoidable_mortality()
    hospital_stay_length()

# =============================================
# FUNCTION DEFINITIONS - no need to comment out
# =============================================

def medical_tech_availability():
    read_file = "original_datasets/medical_tech_availability.csv"
    df = pd.read_csv(read_file)
    # most of these are duplicate short-version columns
    unnecessary_cols = [
        'STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'MEASURE', 'UNIT_MEASURE',
        'STATISTICAL_OPERATION', 'OWNERSHIP_TYPE', 'HEALTH_FUNCTION', 'CARE_TYPE',
        'HEALTH_CARE_PROVIDER', 'Time period', 'Observation value', 'DECIMALS', 'Decimals',
        'OBS_STATUS', 'OBS_STATUS2', 'OBS_STATUS3', 'UNIT_MULT', 'REF_YEAR_PRICE'
    ]
    data_cols_rename_dict = {
        'OBS_VALUE': 'med_tech_availability_p_mil_ppl'
    }
    df_title = "medical_tech_availability"
    df = tidy(df, df_title,
              data_cols_rename_dict, drop_columns=unnecessary_cols)
    analyze(df, df_title)
    print("Dataframe:", df, sep="\n")


def healthcare_expenditure_worldbank():
    df = pd.read_csv("original_datasets/healthcare_expenditure_worldbank.csv")
    df = df.rename(columns=df.iloc[3]).iloc[4:]
    #drop columns not needed and only years from 2000 to 2019
    columns_to_keep = ['Country Name', 'Country Code'] + \
                  [col for col in df.columns if isinstance(col, float) and col >= 2000.0 and col<=2019]
    df_filtered = df[columns_to_keep]
    
    #change the orientation of the dataframe and add years as observations instead of variables
    df_long = pd.melt(df_filtered, 
                  id_vars=['Country Name', 'Country Code'], 
                  var_name='Year', 
                  value_name='Value')
    
    # convert 'year' column from float to integer
    df_long['Year'] = df_long['Year'].astype(int)
    # change column names
    df_long.columns = ['country', 'code', 'year', 'expenditure_per_capita']
    # sort df
    df_long = df_long.sort_values(['code', 'year'], ascending=[True, True])
    df_long = df_long.reset_index(drop=True)
    # save df
    df_long.to_csv("cleaned_datasets/healthcare_expenditure_worldbank.csv", index=False)


def life_expectancy_worldbank():
    df = pd.read_csv("original_datasets/life_expectancy.csv")
    df = df.rename(columns=df.iloc[3]).iloc[4:]
    #drop columns not needed and only years from 2000 to 2019
    columns_to_keep = ['Country Name', 'Country Code'] + \
                   [col for col in df.columns if isinstance(col, float) and col >= 2000.0 and col<=2019]
    df_filtered = df[columns_to_keep]
    
    #change the orientation of the dataframe and add years as observations instead of variables
    df_long = pd.melt(df_filtered,
                  id_vars=['Country Name', 'Country Code'],
                  var_name='Year',
                  value_name='Value')
    
    # convert 'year' column from float to integer
    df_long['Year'] = df_long['Year'].astype(int)
    # change column names
    df_long.columns = ['country', 'code', 'year', 'life_expectancy']
    # sort dataframe
    df_long = df_long.sort_values(['code', 'year'], ascending=[True, True])
    df_long = df_long.reset_index(drop=True)
    df = df_long
    df.to_csv('cleaned_datasets/life_expectancy.csv', index=False)
    df_title = 'life_expectancy'
    analyze(df, df_title)
    print("Dataframe:", df, sep="\n")
    

def ICU_beds():
    read_file = "original_datasets/ICU_beds.csv"
    df = pd.read_csv(read_file)
    # most of these are duplicate short-version columns
    unnecessary_cols = [
        'STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'MEASURE', 'UNIT_MEASURE',
        'STATISTICAL_OPERATION', 'OWNERSHIP_TYPE', 'HEALTH_FUNCTION', 'CARE_TYPE', 'MEDICAL_TECH',
        'HEALTH_CARE_PROVIDER', 'Observation value', 'DECIMALS', 'Decimals',
        'OBS_STATUS', 'OBS_STATUS2', 'OBS_STATUS3', 'UNIT_MULT', 'REF_YEAR_PRICE'
    ]
    data_cols_rename_dict = {
        'OBS_VALUE': 'available_adult_ICU_beds'
    }
    df_title = "ICU_Beds_and_Use"
    df = tidy(df, df_title,
              data_cols_rename_dict, drop_columns=unnecessary_cols)
    analyze(df, df_title)
    print("Dataframe:", df, sep="\n")


def health_expenditure_as_percent_of_gdb():
    read_file = "original_datasets/filtered_health_expenditure_as_percent_gdp.csv"
    # cols 38 - 41 are NA for the first large chunk --> pandas must be told their type to not mix up types while reading in df in chunks to save memory
    df = pd.read_csv(read_file, dtype={i: object for i in range(38,42)})
    # most of these are duplicate short-version columns
    unnecessary_cols = [
        'STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'MEASURE', 'UNIT_MEASURE', 'FREQ',
        'FINANCING_SCHEME', 'PRICE_BASE', 'CURRENCY', 'BASE_PER', 'FUNCTION', 'MODE_PROVISION',
        'FACTOR_PROVISION', 'ASSET_TYPE', 'Time period', 'Observation value', 'DECIMALS',
        'Decimals', 'OBS_STATUS', 'OBS_STATUS2', 'OBS_STATUS3', 'Unit multiplier', 'UNIT_MULT',
        'MODE_PROVISION'
    ]
    data_cols_rename_dict = {
        'OBS_VALUE': 'health_expenditure_as_percent_gdp'
    }
    df_title = "filtered_health_expenditure_as_percent_gdp"
    country_col = "Reference area"
    
    # tidy and analyze dataframe
    df = tidy(df, df_title, data_cols_rename_dict, og_country_column=country_col,
              og_year_column="TIME_PERIOD", drop_columns=unnecessary_cols)
    analyze(df, df_title)
    print("Dataframe:", df, sep="\n")


def set_healthcare_capita_outcomes():
    read_file = "original_datasets/unfiltered_set_healthcare_capita_outcomes.csv"
    # cols 34,35 are NA for the first large chunk --> pandas must be told their type to not mix up types while reading in df in chunks to save memory
    df = pd.read_csv(read_file, dtype={34:object, 35:object})
    data_cols_rename_dict = {'OBS_VALUE': 'set_healtchare_capita_outcomes',
                              'BASE_PER': 'base_period'}
    df_title = "unfiltered_set_healthcare_capita_outcomes"
    # all nonspecified tidy parameters are the same as the defualts
    df = tidy(df, df_title=df_title, new_data_cols_map=data_cols_rename_dict)
    # drop all rows where base_period isn't NA, then drop base period column
    # this is fine to do because base_period rows have corresponding duplicates without base_period
    df = df[df['base_period'].isna()].reset_index(drop=True).drop(columns=['base_period'])
    df.to_csv('cleaned_datasets/unfiltered_set_healthcare_capita_outcomes.csv', index=False)
    analyze(df, df_title)
    print(df)


def avoidable_mortality():
    read_file = "original_datasets/avoidable_mortality.csv"
    df = pd.read_csv(read_file)
    df_title = "avoidable_mortality"
    unnecessary_cols = ["STRUCTURE", "STRUCTURE_ID", "STRUCTURE_NAME", "ACTION", "FREQ", "MEASURE",
                        "UNIT_MEASURE", "Time period", "Observation value", "UNIT_MULT",
                        "DECIMALS", "Decimals", "AGE", "SOCIO_ECON_STATUS", "DEATH_CAUSE",
                        "CALC_METHODOLOGY", "GESTATION_THRESHOLD", "HEALTH_STATUS", "DISEASE",
                        "CANCER_SITE", "Observation value", "OBS_STATUS2", "SEX",
                        "OBS_STATUS3"]
    new_data_cols_rename_dict = {
        "OBS_VALUE": "avoidable_deaths"
    }
    df = tidy(df, df_title=df_title, new_data_cols_map=new_data_cols_rename_dict,
              drop_columns=unnecessary_cols)
    analyze(df, df_title)
    print(df)


def hospital_stay_length():
    df = pd.read_csv("original_datasets/hospital_stay_length.csv")
    df_title = "hospital_stay_length"
    unnecessary_cols = ["STRUCTURE", "STRUCTURE_ID", "STRUCTURE_NAME", "ACTION", "MEASURE",
                        "UNIT_MEASURE", "Time period", "Observation value", "UNIT_MULT",
                        "DECIMALS", "Decimals", "AGE", "DISEASE", "DIAGNOSTIC_TYPE", "PROVIDER",
                        "CANCER_SITE", "Observation value", "OBS_STATUS2", "SEX", "FUNCTION", 
                        "MODE_PROVISION", "CARE_TYPE", "HEALTH_FACILITY", "WAITING_TIME",
                        "CONSULTATION_TYPE", "OBS_STATUS", "OBS_STATUS2", "OBS_STATUS3", 
                        "MEDICAL_PROCEDURE", "OCCUPATION"]
    new_data_cols_rename_dict = {
        "OBS_VALUE": "hospital_stay_length"
    }
    df = tidy(df, df_title=df_title, new_data_cols_map=new_data_cols_rename_dict,
              drop_columns=unnecessary_cols)
    analyze(df, df_title)
    print(df)

# RUNNING MAIN PROGRAM
# commenting out this so it doesn't run in the jupyter notebook:
# if __name__ == "__main__":
#     run()

# Ethics & Privacy

* In terms of data collection, we do not have to deal with informed consent or anything related to the creation of a study, because we are using previously-compiled datasets.
* As for data storage, we don’t need to secure the data that we have gathered here, because they are all from readily available online datasets. There will be no “individuals” in our dataset because we are collecting data by country rather than by individual patients, so no anonymizing or ‘right to be forgotten’ needs to be addressed.
* There are additional potential confounding variables to our analysis such as education of the healthcare providers, lifestyles by country, and access to resources not directly relating to healthcare itself, as such, this study is purely intended to explore correlation between the established variables, not establish causality.
* The data may not adequately represent marginalized populations or those without access to healthcare, leading to skewed results Some countries may report healthcare outcomes differently, leading to potential bias - countries with less rigorous data collection systems may underreport certain issues.
* We will avoid looking at data within LCD countries, specifically focusing on OECD countries. This is because high-income countries often provide more detailed healthcare data than low-income or developing countries. This lack of data from lower-income nations could skew analyses toward healthcare systems that are well-funded, leading to overgeneralized findings that don’t apply to all income levels. Also, for LDC countries, there might be other strong reasons for why healthcare might be low quality other than healthcare spending (e.g. war).
* Country-level data might also cover some disparities among different minority groups in each country. For example, in the US, healthcare quality significantly varies across different states and cities, so the overall data of the country might misrepresent the level of healthcare quality received by its citizens. For this problem, if OECD provides regional data for bigger countries, we should incorporate these regional variations.
* Over-simplifications of the effects of spending and healthcare, if interpreted for policy-making could lead to a focus on only financially efficient initiatives and not initiatives that are currently critical in their country. This is not intended to inform political or financial decisions.

# Team Expectations


* Communication will take place over slack or text with a preferable same-day response time. Meeting at least once a week in-person on Thursdays at 5 pm, and additional meetings in the same week can be over zoom (this excludes Thanksgiving week).
* Everyone is expected to contribute their share of work, as discussed in meetings. If someone is failing to meet these expectations, we will first have a conversation with them, and then discuss further as a group if circumstances require reallocation or other potential solutions.
    * We request communication in these circumstances earlier (upon realization) rather than at the last minute, to avoid conflicts.

# Project Timeline Proposal

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 10/17  |  5 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 10/27  |  9 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 10/29  | 5 PM | Edit, finalize, and submit proposal; Search for datasets  | Finalize a cohesive project proposal, submit proposal, Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 11/7  | 5 PM  | Import & Wrangle Data(Everyone). Wrangling: Get all countries to use same strings/titles(Use created functions for uniform cleaning), keep country, and country code column for merging. | Review/Edit wrangling/EDA; Discuss Analysis Plan; Discuss plan to merge datasets|
| 11/21  | 5 PM  | Finalize wrangling(Complete dataframe merging); Begin Analysis - create graphs, get correlations ,run stats tests | Discuss/edit Analysis; Complete project check-in |
| 12/5  | 5 PM  | Complete analysis; Draft results/conclusion/discussion, ensure project cohesiveness (Aisha,Giselle,Emily)| Discuss/edit full project |
| 12/11  | Before 11:59 PM  | Final Project Review(Everyone)| Turn in Final Project & Group Project Surveys |